* {
  box-sizing: border-box;
  font-family: "Courier New";
  font-size: 20px;
  font-weight: bold;
}

h1 {
  font-size: 175%;
  text-align: center;
  color: black;
}

section {
  background-color: darkgrey;
  border: 1px solid black;
  margin: 10px;
}

p {
  padding: 15px 5px 0px 5px;
}

span {
  width: 150px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  font-size: 125%;
  text-align: center;
  float: right;
}

#chicken {
  background-color: pink;
  color: black;
}

#beef {
  background-color: red;
  color: white;
}

#sushi {
  background-color: yellow;
  color: black;
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

@media (max-width: 767px) {
  .col-sx-12 {
    width: 100%;
    float: left;
  }
}
